/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Custom CSS variables */
:root {
  --primary: rgba(0, 210, 196, 0.8);
  --error: #e7195a;
}

/* Styling for different elements */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  background-color: #f5f5f5;
  width: 200px;
  padding: 20px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'flex-start'
}

.button {
  margin-bottom: 10px;
  padding: 10px;
  border: 'none';
  background-color: '#e0e0e0';
  color: #333;
  font-weight: 'bold';
  cursor: 'pointer';
  width: 100%;
  text-align: 'left';
}

.main {
  flex: 1;
  padding: 20px;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif, monospace;
}

/* Home Page */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
  
.properties{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.property-details {
  display: grid;
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 16px 8px 8px 8px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,.05); 
}

.property-details h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  color: var(--primary);
}

.property-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.property-details span {
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 10px 6px;
  border-radius: 10px;
  color: #333;
}

/* New Property Form */
label, 
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px;
}

input.error {
  border: 1px solid var(--error);
}
