/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* home */

:root{
  --primary: #1aac83;
  --error: #e7195a;
}

body{
  background : #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  padding-bottom: 60px;
  
}

a{
  text-decoration: none;
}


header{
  background: #fff;
}

header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header a:link, header a:visited{
  color:#333;
}

.pages{
  max-width: 1400px;
  padding: 20p;
  margin: 0 auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}




/* new property form */

.new-property{
  
}

label, input{
  display: block;
}

input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error{
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 4px;
  margin: 20px 0;
  color: var(--error);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* nav */

li{
  list-style: none;
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  margin-left: 10px;
}

nav button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  margin-left: 10px;
  font-size: 1em;
  cursor: pointer;
}

.red-btn{
  background: var(--error);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}


#toggle-btn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

/*

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}




.title {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  z-index: 1;
}

.visible li {
  margin: 10px;
}

*/

form.login, form.signup{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
